[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.2"
djangorestframework = "==3.12.1"
django-rest-passwordreset = "==1.1.0"
django-cors-headers = "==3.5.0"
selenium = "*"
requests = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "*"

[scripts]
server = "python manage.py runserver"
migrate = "python manage.py migrate"
startapp = "python manage.py startapp"
makemigrations = "python manage.py makemigrations"
createsuperuser = "python manage.py createsuperuser"
