[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-passwordreset = "*"
django-cors-headers = "*"
selenium = "*"
requests = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "*"

[scripts]
server = "python manage.py runserver"
migrate = "python manage.py migrate"
startapp = "python manage.py startapp"
makemigrations = "python manage.py makemigrations"
createsuperuser = "python manage.py createsuperuser"
